<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Lane</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <div class="imagen-logo">
            <img src="../static/css/multimedia/logo.png" alt="">
        </div>
        <nav class="menu-home">
            <a href="home.html">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Servicios</a>
        </nav> 
    </header>
    <div class="wrapper">
        <center><h1 class="titulo">Labor Lane</h1></center>

        <center><p><h3 class="info-inicio">¿Buscas trabajo? ¿Un empleado? Quizá... ¿Para tu empresa? ¿Hogar? Aquí en Labor Lane
            lo puedes encontrar. Con mas de 1.000 empleados y 300 empleadores, que buscan mejorar la calidad de
            empleo en Colombia. Una bolsa de empleo diferente a otras, más moderna, eficaz, eficiente. No distinguimos
            color de piel, raza, sexo. Mientras te sientas comodo en lo que mas amas hacer, es con lo que nos sentimos
            satisfechos. 
        </h3></p></center>

        <center><p><h3 class="info-inicio2">¿Que esperas para entrar y conocer tu vocacion y/o nuevo empleado?</h3></p></center>

        <center><h2 class="final-regist">¡Registrate ahora!</h2></center>
        <center><button class="btn-regist">Registrarse</button></center>

        <center><h1 class="texto-regis">¿Ya tienes una cuenta? ¡Inicia Sesion!</h1></center>
        <a href="/registro"><center><button class="btn-log" >Iniciar Sesion</button></center></a>

    </div>
</body>
</html>