<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    <title>Login</title>
</head>
<body>
    
<header>
        <img src="../static/multimedia/logo.png" alt="" class="logo-header">
        <div class="navegation">
        <a href="/">Home</a>
        <a href="#">Nosotros</a>
        <a href="#">Servicios</a>
        <a href="#">Contactanos</a>
        <button class="btnlogin-popup">Login</button>
        </div>
</header>


<!-- <img src="../static/css/multimedia/logo-facebook.png" alt=""> -->

<div class="wrapper">
    <div class="form-box login"> 
        <h2>Login</h2>
        <form >
            <div class="input-box">
                <span class="icon"><ion-icon
                name="mail"></ion-icon></span>
                <input type="Text" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon
                name="lock-closed"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
        <div class="recuperarcontra">
            <div class="slider">
                <input type="checkbox" id="toggle" class="toggle-input">
                <label for="toggle" class="toggle-label"></label>
                </div>
                <label class="text-recordar">
                Recordar
                </label>
            <a href="#">Recuperar Contraseña</a>
        </div>
        <button type="submit" class="btn">Iniciar
        </button>
            <div class="login-register">
            <p>Crear un Usuario<a
                href="#"
                class="register-link">  Registrarse</a>
            </p>
            </div>
        </form>
    </div>

    <div class="form-box register">
        <h2>Registrarse</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>
                <input type="Text" required>
                <label>Usuario</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="accessibility">

                </ion-icon></span>
                <input type="Text" required>
                <label>Nombre</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="accessibility"></ion-icon></span>
                <input type="Text" required>
                <label>Apellido</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="phone-portrait"></ion-icon></span>
                <input type="Text" required>
                <label>Telefono</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></ion-icon></span>
                <input type="Text" required>
                <label>Tipo Documento</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
                <input type="Text" required>
                <label>Numero Documento</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="map"></ion-icon></span>
                <input type="Text" required>
                <label>Direccion</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon
                name="mail"></ion-icon></span>
                <input type="Text" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon
                name="lock-closed"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
        <div class="recuperarcontra-2">
            <label><input type="checkbox">
            <a href="/tc">Acepto los Términos y Condiciones</a>
        </label>
        </div>
        <button type="submit" class="btn" >Registrarse
        </button>
            <div class="login-register">
            <p>¿Ya tienes un cuenta?<a
                href="#"
                class="login-link">  Login</a>
            </p>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="grupo-1">
        <div class="box box-footer">

                <img src="../static/multimedia/logo.png" alt="" class="logo-footer">
            
        </div>
        <div class="box">
            <h2>Sobre Nosotros</h2>
            <p>Somos un Emprendimiento Apoyado del sena y con la busqueda de mejorar el pais.</p>
            <p>Estamos en El inicio del cambio para poder dar trabajos.</p>
        </div>

        <div class="box">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="https://www.youtube.com/" link="" class="R-1"><ion-icon name="logo-facebook" role="img" class="md hydrated"></ion-icon></a>
                <a href="" class="R-2"><ion-icon name="logo-whatsapp"></ion-icon>   </a>
                <a href="" class="R-3"><ion-icon name="logo-tiktok"></ion-icon></a>
                <a href="" class="R-4"><ion-icon name="logo-instagram"></ion-icon></a>
            </div>
        </div>
    </div>
    
    <div class="grupo-2">
        <small>&copy; 2023 <b>Labor lane</b>- Todos los Derechos Reservados</small>
    </div>
</footer>

<script src="../static/js/registro.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>
