*{
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
}

/*Header: Aca va el div principal del header */
header{
    background-color: #BDF2F2;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    color: #43B0CC;
}


a{
    width: 15%;
    min-width: 50px;
    height: auto;
    position: relative;
    right: 35%;
}
.logo{
    width: 100%;
    height: auto;
    
}

.title{
    width: 100%;
    height: auto;
    text-align: center;
    color: #43B0CC;
}

.img-user{
    width: 22%;
    min-width: 50px;
    height: auto;
    position: relative;
    left: 35%;
}

main{
    width: 95%;
    height: auto;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    
}

.card-user{
    background-color: #43B0CC;
    width: 25%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border: 10px solid #0378A6;
}



.user-image{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    padding: 10px;
}



.card-user-img{
    width: 100%;
    height: auto;
    max-width: 200px;
    min-width: 150px;
    cursor: pointer;
}
.box-info{
    background-color: #0378A6;
    width: 80%;
    height: 150px;
    color: #43B0CC;
    overflow-y: scroll;
    padding: 5px;
}

.card-work{
    background-color: #0378A6;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #0378A6;
    gap: 2%;
    color: #43B0CC;
}

.box-title{
    width: 95%;
    height: 50px;
    text-align: center;
}

.box-backg{
    background-color: #03a6ce;
    width: 95%;
    height: 300px;
    display: grid;
    
    overflow-y: scroll;
}

.box-coment{
    background-color: #0378A6;
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 1%;
    overflow-y: scroll;
}

.box-backg-user{
    width: 15%;
    height: auto;
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.img-backg-user{
    width: 100%;
    height: auto;
}

.box-coment-user{
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.box-coment-text{
    width: 100%;
    height: 75%; 
}




.alert-ask{
    width: auto;
    height: auto;
    max-width: 25%;
    min-width: 200px;
    background-color: blueviolet;
    position: fixed;
    top: 12%;
    left: 0%;
    right: 0%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.alert-ask p{
    font-size: 2em;
    height: auto;
}

.box-btn{
    width: 50%;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 25px;
}

.btn-alert{
    width: 70px;
    height: 20px;
    cursor: pointer;
    margin: 0px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(0, 0, 0);
}





@media screen and (max-width: 700px) {
    main{
        flex-direction: column;
        gap: 30px;
    }
    .card-user{   
        width: 70%; 
    }

    .card-work{
        width: 95%;
    }
    .box-coment-text p{
        font-size: 12px;
        color: aqua;
    }

    .box-backg-user{
        height: 50px;
        right: 10px;
    }

    .alert-ask{
        font-size: 0.5em;
    }
    
}